<a href="https://colab.research.google.com/github/youngmin940629/algorithm/blob/master/mf%EC%B6%94%EC%B2%9C%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
movie_data = pd.read_csv('/movie_data.csv')
rating_data = pd.read_csv('/rating.txt')

In [ ]:
rating_data.head()

   id  rank  movie_id  user_id
0   1     9    537061        2
1   2     7      3170        2
2   3     4    189349        2
3   4     9    215180        2
4   5     4     10494        2

In [ ]:
movie_data.head()

    5                   포룸  1995-12-09
0  11  스타워즈 에피소드 4: 새로운 희망  1977-05-25
1  12              니모를 찾아서  2003-05-30
2  13              포레스트 검프  1994-07-06
3  14              아메리칸 뷰티  1999-09-15
4  15                시민 케인  1941-04-17

In [ ]:
print(movie_data.shape)
print(rating_data.shape)

(9962, 3)
(59574, 4)

In [ ]:
rating_data.drop('id', axis=1, inplace=True)
rating_data.head()

   rank  movie_id  user_id
0     9    537061        2
1     7      3170        2
2     4    189349        2
3     9    215180        2
4     4     10494        2

In [ ]:
movie_data.rename(columns = {'5' : 'movie_id'}, inplace = True)
movie_data.rename(columns = {'포룸' : 'title'}, inplace = True)
movie_data.rename(columns = {'1995-12-09' : 'release_date'}, inplace = True)
data_to_insert = {'movie_id': 5, 'title': '포룸', 'release_date': '1995-12-09'}
movie_data = movie_data.append(data_to_insert, ignore_index = True)
movie_data.head()

5              int64
포룸            object
1995-12-09    object
dtype: object

   movie_id                title release_date
0        11  스타워즈 에피소드 4: 새로운 희망   1977-05-25
1        12              니모를 찾아서   2003-05-30
2        13              포레스트 검프   1994-07-06
3        14              아메리칸 뷰티   1999-09-15
4        15                시민 케인   1941-04-17

In [ ]:
user_movie_data = pd.merge(rating_data, movie_data, on='movie_id')
user_movie_data.head()

   rank  movie_id  user_id           title release_date
0     9    537061        2  스티븐 유니버스: 더 무비   2019-09-02
1     3    537061      258  스티븐 유니버스: 더 무비   2019-09-02
2     9    537061      296  스티븐 유니버스: 더 무비   2019-09-02
3    10    537061      325  스티븐 유니버스: 더 무비   2019-09-02
4     2    537061      395  스티븐 유니버스: 더 무비   2019-09-02

In [ ]:
user_movie_data.shape

(59574, 5)

In [ ]:
user_movie_rank=user_movie_data.pivot_table('rank',index='user_id', columns='title').fillna(0)

In [ ]:
user_movie_rank.shape

(2000, 9055)

In [ ]:
user_movie_rank

title,#리얼리티하이,#살아있다,007 골드핑거,007 골든 아이,007 나를 사랑한 스파이,007 네버 다이,007 네버 세이 네버 어게인,007 노 타임 투 다이,007 다이아몬드는 영원히,007 두번 산다,...,히트맨,히트맨 No.2 : 살인면허,히트맨: 에이전트 47,히트웨이브,"힐다, 산속의 왕과 마주치다",힐스 런 레드,힐즈 아이즈,힐즈 아이즈 2,힙합 애프터 파티,힛쳐
user_id,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movie_user_rank = user_movie_rank.values.T

In [ ]:
movie_user_rank

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
from sklearn.decomposition import TruncatedSVD
SVD = TruncatedSVD(n_components=12)
matrix = SVD.fit_transform(movie_user_rank)

In [ ]:
matrix[0]

array([ 0.00316326,  0.0299408 ,  0.07024769, -0.01453621, -0.01260586,
        0.20176014, -0.05238354, -0.1982825 ,  0.0949283 ,  0.03243399,
       -0.18415442, -0.02362923])

In [ ]:
import numpy as np
corr = np.corrcoef(matrix)

In [ ]:
corr.shape

(9055, 9055)

In [ ]:
movie_title = user_movie_rank.columns
movie_title_list = list(movie_title)
coffey_hands = movie_title_list.index("러브 라이브! 더 스쿨 아이돌 무비")

In [ ]:
corr_coffey_hands = corr[coffey_hands]
list(movie_title[(corr_coffey_hands) >= 0.9])[:50]

['3인의 기사',
 '4월은 너의 거짓말',
 '8 마일',
 'A Cinderella Story: Starstruck',
 'Aline',
 'BTS PERMISSION TO DANCE ON STAGE - SEOUL: LIVE VIEWING',
 'Bolschoi Ballett: Schwanensee',
 'Bratz',
 'CBGB',
 'Como caído del cielo',
 'Downfalls High',
 'Drumline: A New Beat',
 'El cover',
 'GO! La fiesta inolvidable',
 'Goyo: En letra de otro',
 'Honey: Rise Up and Dance',
 'Juan Luis Guerra 4.40: Entre Mar y Palmeras',
 'Koati',
 "Les Enfoirés 2022 - Un air d'Enfoirés",
 'Magical Mystery Tour',
 'Romeo Santos: Utopia Live from MetLife Stadium',
 'Rudolph the Red-Nosed Reindeer: The Movie',
 'Save the Last Dance',
 'School Dance',
 "Sharpay's Fabulous Adventure",
 'Shrek the Musical',
 'Stomp the Yard 2: Homecoming',
 'Stop',
 'XOXO: 엑스오엑스오',
 'Кавказская пленница, или Новые приключения Шурика',
 '「鬼滅の刃」オーケストラコンサート~鬼滅の奏~',
 '걸스 오브 막시',
 '겟 리치 오어 다이 트라인',
 '그 어느 때보다 행복: 로스엔젤레스에서 보내는 러브레터',
 '그 여름의 일주일',
 '그 여자 작사 그 남자 작곡',
 '그레이스 언플러그드',
 '극장판 마이 리틀 포니: 새로운 희망',
 '극장판 마이 리틀 포니: 이퀘스트리아 걸스',
 '기븐 극장판',
 '나의 첫 번째 슈퍼스타',
 '나인 송즈',
 '남부의 노래',
 '닉과 노라의 인피니트 플레이리스트',
 '댄스 위드 미',
 '댄스 플릭',
 '댓 씽 유 두',
 '더 더트',
 '도어스',
 '드림 쏭']